* {
margin: 0px;
padding: 0px;
border: 0px;
outline: 0px;
}

#circle {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 50%;
}
#triangle {
    width: 0px;
    height: 0px;
    /*background-color: blue;*/
    margin-left: 150px;
    margin-top: 50px;

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 90px solid black;
}

#pacman {
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid Green;
    border-bottom: 60px solid green;
    border-top: 60px solid green;
    margin-top: 50px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 150px;
}